* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Montserrat', Arial, sans-serif;
  color: #000000;
  font-size: 16px;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.5vw auto 1.5vw;
  grid-template-rows: 10vh 1fr 15vh;
  grid-gap: 20px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

.main-header {
  grid-area: header;
}

.section {
  grid-area: main;
}

.main-footer {
  grid-area: footer;
}

.main-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #ffffff;
  margin: -10px 20px 0px 20px;
  z-index: 2;
}

.main-nav {
  margin-right: 50px;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
}

.links {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.links-main-subtitle {
  color: #000000;
  font-weight: normal;
  text-decoration: none;
}

.nav-items {
  list-style-type: none;
  margin-left: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links:hover {
  text-decoration: underline;
  text-decoration-color: #833ab4;
  transition: text-decoration 1s ease;
}

.gradient:hover {
  background-color: #833ab4;
  background-image: linear-gradient(90deg, #833ab4, #fd1d1d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-header h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: .10rem;
}

.header-logo-text {
  display: flex;
  flex-direction: row;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.logo-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: .67em;
}

.logo-image:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

.main-title {
  text-decoration: none;
}

.main-subtitle {
  margin-left: 10px;
  margin-top: .15rem;
}

.intro-name {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 4rem;
}

.intro-description {
  font-size: 2rem;
  margin-bottom: 10rem;
  letter-spacing: 2px;
}

.nav-section {
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article h4 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.article:hover {
  background-color: rgba(12, 242, 143, 0.2);
  transition: background-color .7s ease;
}

.project-images {
  border: 1px solid #dcdcdc;
}

.figcaption-text {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.main-footer {
  margin: auto;
  margin-bottom: 1em;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-linkedin-in {
  font-size: 1.5rem;
  margin-right: 15px;
}

.fa-envelope {
  font-size: 1.5rem;
  margin-left: 15px;
  margin-top: 1px;
}

/*
.figure {
  position: relative;
  overflow: hidden;
}

.project-images:hover {
  opacity: .3;
}

.figcaption-text {
  color: #ffffff;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 45%;
  left: 33%;
  font-size: 1.5rem;
}

.img-overlay:hover {
  background: #000000;
  transition: .6s ease;
  color: #ffffff;
}
*/

/*
@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}
*/
/*
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}
*/

/*-----------------ABOUT--------------------*/

.intro-name-about {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.about-text {
  width: 50vw;
}

.intro-description-about {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.article-about h4 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.article-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-----------------CONTACT--------------------*/

.intro-name-contact {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.intro-description-contact {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.article-contact h4 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.article-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

input, textarea {
  font-family: inherit;
  font-size: 100%;
  display: block;
  margin: .5rem 0 1rem 0;
  width: 50vw;
  border-radius: 0;
}

input[type=submit] {
  background-image: linear-gradient(45deg, #833ab4, #fd1d1d);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

input[type=submit]:hover {
  background-image: linear-gradient(180deg, #833ab4, #fd1d1d);
}

input {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

input:focus, textarea:focus {
  outline: none;
  border: 3px solid;
  border-image: linear-gradient(45deg, #833ab4, #fd1d1d) 1;
}
