:root {
  --main-text-color: #3c3c3c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 16px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 2% auto 2%;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  /*justify-items: center;*/
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

.main-header {
  grid-area: header;
}

.section {
  grid-area: main;
}

.main-footer {
  grid-area: footer;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-items {
  list-style-type: none;
}

.main-header h1 {

}

.section h2 {
  text-align: center;
}

.article h3 {
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.project-images {
  border: 1px solid #dcdcdc;

}

.figcaption-text {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.main-footer {
  margin: auto;
}

/*
.figure {
  position: relative;
  overflow: hidden;
}

.project-images:hover {
  opacity: .3;
}

.figcaption-text {
  color: #ffffff;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 45%;
  left: 33%;
  font-size: 1.5rem;
}

.img-overlay:hover {
  background: #000000;
  transition: .6s ease;
  color: #ffffff;
}
*/



/*
@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header nav"
      "main main main"
      "footer footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}
