* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  color: #000000;
  font-size: 16px;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

.main-header {
  grid-area: header;
}

.section {
  grid-area: main;
}

.main-footer {
  grid-area: 3/1/4/4;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
}

.nav-items {
  list-style-type: none;
  margin-left: 50px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1px;
}

.main-header h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 15px;
  margin-bottom: .10rem;
}

.header-logo-text {
  display: flex;
  flex-direction: column;
}

.main-subtitle {
  margin-left: 15px;
  margin-top: .15rem;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;

}

.intro-name {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 7rem;
}

.intro-description {
  font-size: 2rem;
  margin-bottom: 10rem;
  letter-spacing: 2px;
}

.nav-section {
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.article h4 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.project-images {
  border: 1px solid #dcdcdc;
}

.figcaption-text {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.main-footer {
  margin: auto;
  margin-bottom: 1em;
}

/*
.figure {
  position: relative;
  overflow: hidden;
}

.project-images:hover {
  opacity: .3;
}

.figcaption-text {
  color: #ffffff;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 45%;
  left: 33%;
  font-size: 1.5rem;
}

.img-overlay:hover {
  background: #000000;
  transition: .6s ease;
  color: #ffffff;
}
*/

/*
@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}
*/

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}


/*-----------------ABOUT ME and CONTACT-------------------*/

.intro-name-about-contact {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.intro-description-about-contact {
  font-size: 2rem;
  margin-bottom: 10rem;
  letter-spacing: 2px;
}




/*-----------------CONTACT--------------------*/
